Package: initialise-linux
Version: 5.1.8
Architecture: all
Maintainer: Robert Key robkey@mighty.co.za
Section: myown
Depends: apt-utils
Conflicts: stedit, builddebiantree
Priority: optional
Description: init-linux initialises linux on desktop and raspberry pi after install. It sets up accounts, multi-user.target, aliases,builddebiantree etc.
